.header {
  background-color: rgb(233, 85, 22);
  padding: 20px;
}

.nav {
  display: flex;
  gap: 10px;
}

.link {
  text-decoration: none;
  color: #b4adad;
  font-weight: 400;
}

.linkActive {
  color: white;
  font-weight: 700;
}
